<% provide(:title, "Show All Users") %>
<h1>Show all users</h1>

<%= will_paginate %>

<% if !@users.nil? %>
	<table class="table">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Email</th>
		</thead>
		<tbody>
			<% @users.each do |user|%>
				<tr>
					<td><%= gravatar_for(user) %></td>
					<td><%= link_to user.name, user %></td>
					<td><%= user.email %></td>
					<td>
						<% if current_user.admin? && @user != current_user %>
							<%= link_to "delete", user, method: :delete,
																					data: {confirm: "Are You Sure?"},
																					class: "btn btn-danger" %>
						<% end %>
					</td>
				</tr>
			<% end %>		
		</tbody>
	</table>
<% else %>
There is no user!
<% end %>

<%= will_paginate %>