<% provide(:title, "Show All Users") %>
<h1>Show all users</h1>

<%= will_paginate %>

<% if !@users.nil? %>
	<table class="table">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Email</th>
		</thead>
		<tbody>
			<% @users.each do |user|%>
				<tr>
					<td><%= gravatar_for(user) %></td>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
				</tr>
			<% end %>		
		</tbody>
	</table>
<% else %>
There is no user!
<% end %>

<%= will_paginate %>