<!DOCTYPE html>
<html>
<head>
  <title><%= set_title(yield(:title)) %></title>
 <%= render "layouts/includes" %>
</head>
<body>
<%= render "layouts/header" %>

<% #tum icerigi ortaya cekti container classi %>
<div class="container">
	<%= yield %>
	<%= render "layouts/footer" %>
</div>

</body>
</html>
